.Rproj.user
.Rhistory
.RData
.Ruserdata
/solutions
/data_private
/data
/.quarto/
Job_Discrimination_Paper.pdf
clean_113_survey_data.R
cover.png
references.bib
stat113_homework.Rproj
**/*.quarto_ipynb
